.contacts
    .grid-container
        .grid-x
            .cell.small-12
                h2
                    | Ми на карті
    .map
        .contacts__info
            .grid-container
                .grid-x
                    .cell.small-12.large-4.large-offset-8
                        .contacts__info-txt
                            h2.contacts__info-head
                                | Контакти:
                            .contacts__info-address
                                | Адреса: Україна, 40000, м. Суми, пл. Театральна, 1.
                            .contacts__info-phone
                                | Телефони дирекції:
                                a(href="tel:380542222057")
                                    |+380 (542) 22-20-57
                                | (тел./факс),
                                <br>
                                a(href="tel:380542225458")
                                    | 22-54-58 (факс).
                            .contacts__info-admin
                                | Адміністратор: +380 (542) 22-30-14.
                            .contacts__info-cashbox
                                | Каса: +380 (542) 22-16-88.
                            .contacts__info-mail
                                | shepkindrama@gmail.com


        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3558.133016595685!2d34.798961290388654!3d50.905586461021066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sua!4v1539167703057" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
