.news
    .grid-container
        .grid-x
            .cell.small-12
                h2
                    | Новини

            .cell.small-12.large-7
                .news__big
                    .news__big-head
                        a(href="#")
                            | Lorem ipsum dolor sit amet consectetur adipiscing elit
                            | sed do eiusmod tempor
                    .news__big-date
                        | 18.08.2018
                    .news__big-img
                        img(src="/images/news/01.jpg" alt="..." style="float: left;")

                    .news__big-txt
                        p
                            | Lorem ipsum dolor sit amet,
                            | consectetur adipiscing elit,
                            | sed do eiusmod tempor
                            | incididunt ut labore et
                            | dolore magna aliqua. Ut
                            | enim ad minim veniam, quis
                            | nostrud exercitation ullamco
                            | laboris nisi ut aliquip ex ea
                            | commodo consequat.
                        p
                            | Duis aute irure dolor in
                            | reprehenderit in voluptate
                            | velit esse cillum dolore eu
                            | fugiat nulla pariatur. Excepteur
                            | sint occaecat cupidatat non proident,
                            | sunt in culpa qui officia deserunt
                            | mollit anim id est laborum.
                        p
                            | Duis aute irure dolor in
                            | reprehenderit in voluptate
                            | velit esse cillum dolore eu
                            | fugiat nulla pariatur. Excepteur
                            | sint occaecat cupidatat non proident,
                            | sunt in culpa qui officia deserunt
                            | mollit anim id est laborum.
                        p
                            | Lorem ipsum dolor sit amet,
                            | consectetur adipiscing elit,
                            | sed do eiusmod tempor
                            | incididunt ut labore et
                            | dolore magna aliqua. Ut
                            | enim ad minim veniam, quis
                            | nostrud exercitation ullamco
                            | laboris nisi ut aliquip ex ea
                            | commodo consequat.
                    .news__big-button
                        .button
                            a
                                | Детальніше

            .cell.small-12.small-offset-0.large-4.large-offset-1
                .news__short
                    .news__short-img
                        img(src="/images/news/01.jpg" alt="..." style="float: left;")
                    .news__short-head
                        a
                            | Lorem ipsum dolor sit amet consectetur adipiscing elit
                    .news__short-date
                        | 18.08.2018
                    .news__short-txt
                        p
                            | Lorem ipsum dolor sit amet,
                            | consectetur adipiscing elit,
                            | sed do eiusmod tempor
                            | incididunt ut labore et
                            | dolore magna aliqua. Ut
                            | enim ad minim veniam, quis
                            | nostrud exercitation ullamco
                            | laboris nisi ut aliquip ex ea
                            | commodo consequat.
                        p
                            | Duis aute irure dolor in
                            | reprehenderit in voluptate
                            | velit esse cillum dolore eu
                            | fugiat nulla pariatur. Excepteur
                            | sint occaecat cupidatat non proident,
                            | sunt in culpa qui of

                .news__short
                    .news__short-img
                        img(src="/images/news/01.jpg" alt="..." style="float: left;")
                    .news__short-head
                        a
                            | Lorem ipsum dolor sit amet consectetur adipiscing elit
                    .news__short-date
                        | 18.08.2018
                    .news__short-txt
                        p
                            | Lorem ipsum dolor sit amet,
                            | consectetur adipiscing elit,
                            | sed do eiusmod tempor
                            | incididunt ut labore et
                            | dolore magna aliqua. Ut
                            | enim ad minim veniam, quis
                            | nostrud exercitation ullamco
                            | laboris nisi ut aliquip ex ea
                            | commodo consequat.
                        p
                            | Duis aute irure dolor in
                            | reprehenderit in voluptate
                            | velit esse cillum dolore eu
                            | fugiat nulla pariatur. Excepteur
                            | sint occaecat cupidatat non proident,
                            | sunt in culpa qui of

                .news__short
                    .news__short-img
                        img(src="/images/news/01.jpg" alt="..." style="float: left;")
                    .news__short-head
                        a
                            | Lorem ipsum dolor sit amet consectetur adipiscing elit
                    .news__short-date
                        | 18.08.2018
                    .news__short-txt
                        p
                            | Lorem ipsum dolor sit amet,
                            | consectetur adipiscing elit,
                            | sed do eiusmod tempor
                            | incididunt ut labore et
                            | dolore magna aliqua. Ut
                            | enim ad minim veniam, quis
                            | nostrud exercitation ullamco
                            | laboris nisi ut aliquip ex ea
                            | commodo consequat.
                        p
                            | Duis aute irure dolor in
                            | reprehenderit in voluptate
                            | velit esse cillum dolore eu
                            | fugiat nulla pariatur. Excepteur
                            | sint occaecat cupidatat non proident,
                            | sunt in culpa qui of
