.partners.bg-grey
    .grid-container
        .grid-x
            .cell.small-12
                h2
                    | Наші партнери
        .grid-y
            //-(style="height: 650px;")
            .cell.small-12.animate.animate-up
                img(src="/images/partners/shepkin.jpg" alt="...").partners__bg
                .grid-container
                    .grid-x
                        .cell.small-12
                            .slider-item
                                div
                                    img(src="images/partners/atc.png")
                                div
                                    img(src="images/partners/shans.png")
                                div
                                    img(src="images/partners/gorobyna.png")

                                div
                                    img(src="images/partners/atc.png")
                                div
                                    img(src="images/partners/shans.png")
                                div
                                    img(src="images/partners/gorobyna.png")
