.slider
    .grid-container
        .grid-x
            .fade
                .slide
                    img(src="images/1.jpg")
                .slide
                    img(src="images/1.jpg")
                .slide
                    img(src="images/1.jpg")
