.map

.contacts
  &__info

    &-txt
      color: $color-white
      position: absolute
      background: $color-ddark-green
      opacity: 0.75
      height: 120%
      padding: 0 30px
      top: -10%
