.map

.contacts
  &__info

    &-txt
      color: $color-white
      position: absolute
      background: $color-ddark-green
      opacity: 0.75
      height: 120%
      padding: 0 30px
      top: -10%

.address
  padding: 0 20px

.contacts
  &__info-address,
  &__info-phone,
  &__info-admin,
  &__info-cashbox,
  &__info-mail
    padding-top: 15px
