.theatre
  h1, h2, h3, h4, h5
    color: $color-white

  h4
    text-align: center

  &__item
    padding: 0 20px 50px 20px
    display: flex
    flex: 1 1 auto
    justify-content: space-between
    flex-direction: column
    &-img
      text-align: center
      .theatre__hover-path
        fill: none
        stroke-dasharray: 0 110
        stroke-dashoffset: 20
        stroke: rgb(201, 201, 201)
        stroke-width: 0.325
        transition: $trans-theatre
      .theatre__hover-clr-white
        fill: $color-dark-grey
        transition: $trans-theatre
      .theatre__hover-clr-grey
        fill: $color-dark-grey
        transition: $trans-theatre

      object, img, svg
        max-width: 150px
    &-txt
      color: $color-white
      flex: 1 0 auto
      font-size: 14px
    &-button
      text-align: center
      margin-top: 35px
      align-self: center

    &:hover
      .theatre__item-img
        .theatre__hover-path
          fill: none
          stroke-dasharray: 20 0
          stroke-dashoffset: 20
          stroke: $color-red
          stroke-width: 0.325
          transition: $trans-theatre
        .theatre__hover-clr-white
          fill: $color-white
          transition: $trans-theatre
        .theatre__hover-clr-grey
          fill: $color-light-grey
          transition: $trans-theatre
