.theatre
  h1, h2, h3, h4, h5
    color: $color-white

  h4
    text-align: center

  &__item
    padding: 0 20px 50px 20px
    display: flex
    flex: 1 1 auto
    justify-content: space-between
    flex-direction: column
    &-img
      text-align: center
      svg
        max-width: 200px
    &-txt
      color: $color-white
      flex: 1 0 auto
    &-button
      text-align: center
      margin-top: 70px
      align-self: center
