.menu
    .toggle-nav__bubble
        .toggle-nav
            span
            span
            span
            span
    .navigation__wrapper
        ul.navigation
            li
                a(href="/")
                    | Головна
            li
                a(href="/news.html")
                    | Новини
            li.navigation__drop
                span
                    | Театр
                ul.drop
                    li
                        a(href="/theatre.html")
                            | Історія
                    li
                        a(href="/theatre.html")
                            | Митці
                    li
                        a(href="/theatre.html")
                            | Велика сцена
                    li
                        a(href="/theatre.html")
                            | Мала сцена
                    li
                        a(href="/theatre.html")
                            | Персонал
                    li
                        | &nbsp;
            li
                a(href="/afisha.html")
                    | Афіша
            li
                a(href="/spectacle.html")
                    | Вистави
            li
                a(href="/concerts.html")
                    | Концерти
            li
                a(href="/contacts.html")
                    | Контакти
