.contacts
    .grid-container
        .grid-x
            .cell.small-12
                h1
                    | Контактна інформація

            .cell.small-12
                h4
                    | Комунальний заклад культури Сумської обласної ради –
                    | Сумський обласний академічний театр драми та
                    | музичної комедії імені М.С. Щепкіна.

            .cell.small-12.large-6
                p
                    | <strong>Адреса театру:</strong>
                    | Україна, 40000, м. Суми, пл. Театральна, 1.

                p
                    | <strong>Адміністратор:</strong>
                    | +380 (542) 22-30-14
                    | (з питань репертуару та розповсюдження квитків).

                p
                    | <strong>Каса театру:</strong>
                    | +380 (542) 22-16-88 (з питань вартості квитків).



                p
                    | <strong>Телефон "гарячої" лінії театру:</strong>
                    | (0542) 22-52-53
                    | контактна особа – заступник директора з адміністративно-господарської частини Чемерис Володимир Миколайович.

            .cell.small-12.large-6
                p
                    | <strong>Графік особистого прийому громадян посадовими
                    | особами Академічного театру ім. М.С. Щепкіна:</strong>

                p
                    | Заступник директора з основної діяльності Щербакова Ірина Владиславівна – щовівторка з 15:00 до 16:30 – кабінет №3.

                p
                    | Заступник директора з адміністративно-господарської частини Чемерис Володимир Миколайович – щосереди з 15:00 до 16:30 – кабінет №2.

                p
                    |Головний режисер Аніщенко Артемій Юрійович – щочетверга з 12.00 до 13.30 – кабінет №45.

                p
                    | Головний інженер Нужний Андрій Васильович – щоп’ятниці з 15.00 до 16.30 – кабінет №49.
