
.navigation
  display: flex
  list-style: none
  padding: 0
  background: $color-white

  a, span
    font-family: $font-open-sans-condensed
    text-transform: uppercase
    text-decoration: none
    color: $color-dark-green
    font-size: 20px
    font-weight: 300
    transition: $trans-main
    opacity: .7
    display: block
    padding: 20px 0
    margin: 0 auto
    position: relative
    cursor: pointer

    &:hover, &:focus
      transition: $trans-main
      opacity: 1

      &:after
        content: ""
        transition: $trans-main
        position: absolute
        bottom: 2px
        height: 2px
        width: 100%
        left: 0
        background: $color-ddark-green

    &:after
      content: ""
      transition: $trans-main
      position: absolute
      bottom: 2px
      height: 2px
      width: 0
      left: 50%
      background: $color-white

  li
    flex: 1 0 auto
    text-align: center
    line-height: 50px
    position: relative
    z-index: 10

  .navigation__drop
    &:hover, &:focus
      span
        &:after
          content: ""
          transition: $trans-main
          position: absolute
          bottom: 2px
          height: 2px
          width: 100%
          left: 0
          background: $color-ddark-green

  &__drop
    position: relative
    &:before
      content: ""
      width: 0
      height: 0
      border-style: solid
      border-width: 5px 5px 0 5px
      border-color: $color-red transparent transparent transparent
      position: absolute
      top: 75%
      right: 45%

    .drop
      position: absolute
      width: 240px
      background: $color-red
      top: 70px
      pointer-events: none
      opacity: 0
      transition: $trans-main
      list-style: none
      padding-left: 25px
      padding-right: 25px
      &:after
        content: ""
        height: 20px
        width: 100%
        position: absolute
        top: -20px
        left: 0

      li
        flex: 1 0 100%
        line-height: 100%
        text-align: left
      a
        color: $color-white
        padding: 15px 0

    &:hover
      .drop
        top: 95px
        opacity: 1
        pointer-events: all
        transition: $trans-main
        z-index: -1


@media screen and (max-width: 990px)
  .navigation
    &__drop
      span
        display: none
      &:before
        content: none

      .drop
        position: initial
        background: $color-white
        opacity: 1
        margin: 0 auto
        width: 100%
        padding: 0
        a, span
          color: $color-dark-green
        li
          text-align: center
          line-height: 50px
          width: 320px
          margin: 0 auto
    a
      &:hover, &:focus
        &:after
          content: none

  .nav__fixed
    .navigation
      li
        line-height: 50px
        width: 320px
        margin: 0 auto
