.footer.bg-dark-green
    .grid-container
        .grid-x
            .cell.small-12
                | big good footer ))) jokingly

.footer.bg-dark
    .grid-container
        .grid-x
            .cell.small-12
                | plan i tak dali
