.footer.bg-dark-green.footer__pad
    .grid-container
        .grid-x
            .cell.small-12.large-3
                ul
                    li
                        a(href="")
                            | Головна
                    li
                        a(href="")
                            | Новини
            .cell.small-12.large-3
                ul
                    li
                        a(href="")
                            | Історія
                    li
                        a(href="")
                            | Митці
                    li
                        a(href="")
                            | Велика сцена
                    li
                        a(href="")
                            | Мала сцена
                    li
                        a(href="")
                            | Персонал

            .cell.small-12.large-3
                ul
                    li
                        a(href="")
                            | Афіша
                    li
                        a(href="")
                            | Вистави
                    li
                        a(href="")
                            | Концерти

            .cell.small-12.large-3
                ul
                    li
                        a(href="")
                            | Календар
                    li
                        a(href="")
                            | Контакти

.footer.bg-dark-green
    .grid-container
        .grid-x
            .cell.small-12.large-4
                ul.social
                    li
                        a(href="")
                            +svg("faceboock").ico
                    li
                        a(href="")
                            +svg("youtube").ico
                    li
                        a(href="")
                            +svg("instagram").ico

            .cell.small-12.large-4
                .address
                    .contacts__info-address
                        | Адреса: Україна, 40000, м. Суми, пл. Театральна, 1.
                    .contacts__info-phone
                        | Телефони дирекції:
                        a(href="tel:380542222057")
                            | +380 (542) 22-20-57
                        | (тел./факс),
                        <br>
                        a(href="tel:380542225458")
                            | 22-54-58 (факс).
                    .contacts__info-admin
                        | Адміністратор: +380 (542) 22-30-14.
                    .contacts__info-cashbox
                        | Каса: +380 (542) 22-16-88.
                    .contacts__info-mail
                        | shepkindrama@gmail.com

            .cell.small-12.large-4
                .form__msg

.footer.bg-dark
    .grid-container
        .grid-x
            .cell.small-12.large-2
                a(href="")
                    | План закупівель
            .cell.small-12.large-6
                p
                    | Академічний театр ім. М.С.Щепкіна © 2018. Усі права збережені.
                p
                    | Розміщена на сайті інформація є інтелектуальною власністю Академічного театру ім.М.С.Щепкіна.
                p
                    | Використання інформації можливе при обов'язковому посиланні на сайт.

            .cell.small-12.large-4
                p
                    | Дизайн – Michael Karpeko та Андрій Сечін.
                p
                    | Наповнення – Ярослав Янченко та Кирил Поздняков.
                p
                    | Фотографи – Андрій Сечін, Максим Криштоп,
                p
                    | Олексій Целік та Анатолій Красовський.
