.footer.bg-dark-green.footer__pad
    .grid-container
        .grid-x
            .cell.small-12.large-3.line-vertical
                ul
                    li
                        a(href="")
                            | Головна
                    li
                        a(href="")
                            | Новини
            .cell.small-12.large-3.line-vertical
                ul
                    li
                        a(href="")
                            | Історія
                    li
                        a(href="")
                            | Митці
                    li
                        a(href="")
                            | Велика сцена
                    li
                        a(href="")
                            | Мала сцена
                    li
                        a(href="")
                            | Персонал

            .cell.small-12.large-3.line-vertical
                ul
                    li
                        a(href="")
                            | Афіша
                    li
                        a(href="")
                            | Вистави
                    li
                        a(href="")
                            | Концерти

            .cell.small-12.large-3.line-vertical
                ul
                    li
                        a(href="")
                            | Календар
                    li
                        a(href="")
                            | Контакти

.footer.bg-dark-green.line-gorizontal.footer__pad
    .grid-container
        .grid-x
            .cell.small-12.large-4.line-vertical
                ul.social
                    li
                        a(href="")
                            +svg("faceboock").ico
                    li
                        a(href="")
                            +svg("youtube").ico
                    li
                        a(href="")
                            +svg("instagram").ico

            .cell.small-12.large-4.line-vertical
                .address
                    ul
                        li
                            .one-col
                                | Адреса:
                            .two-col
                                | Україна, 40000, м. Суми, пл. Театральна, 1.

                        li
                            .one-col
                                | Телефони дирекції:
                            .two-col
                                a(href="tel:380542222057")
                                    | +380 (542) 22-20-57
                                a(href="tel:380542225458")
                                    | +380 (542) 22-54-58 (факс).

                        li
                            .one-col
                                | Адміністратор:
                            .two-col
                                a(href="tel:380542223014")
                                    | +380 (542) 22-30-14.

                        li
                            .one-col
                                | Каса:
                            .two-col
                                a(href="tel:380542221688")
                                    | +380 (542) 22-16-88.

                        li
                            .one-col
                                | e-mail:
                            .two-col
                                a(href="mailto:shepkindrama@gmail.com")
                                    | shepkindrama@gmail.com

            .cell.small-12.large-4.line-vertical
                h6
                    | Есть вопросы? Напишите нам!

                form.form-message(action="/request" method="post")
                    input(type="hidden" name="_csrf-frontend" value="MrBMQXZ_jwyd7XUaIY7H1z6ChZ2rvCqLfVKJj1jX-59e9nsEMTDsaMeUA0lSyfSeCLey3p_ZTuRQOOT2HI6orw==")

                    .form-group.label-floating.field-request-name
                        input(type="text" id="request-name" class="form-control" name="Request[name]" placeholder="Имя")
                        .help-block

                    .form-group.label-floating.field-request-phone.required
                        input(type="text" id="request-phone" class="form-control" name="Request[mail]" placeholder="E-mail" aria-required="true")
                        .help-block

                    .form-group.label-floating.field-request-message.has-success
                        textarea(id="request-message" class="form-control" name="Request[message]" rows="6" cols="50" placeholder="Введите сообщение" aria-invalid="false")
                        .help-block

                    button(type="submit" class="btn-submit")
                        | Отправить

.footer.bg-dark.line-gorizontal.footer__pad
    .grid-container
        .grid-x
            .cell.small-12.large-2
                a(href="")
                    | План закупівель
            .cell.small-12.large-6
                p
                    | Академічний театр ім. М.С.Щепкіна © 2018. Усі права збережені.
                p
                    | Розміщена на сайті інформація є інтелектуальною власністю Академічного театру ім.М.С.Щепкіна.
                p
                    | Використання інформації можливе при обов'язковому посиланні на сайт.

            .cell.small-12.large-4
                p
                    | Дизайн – Michael Karpeko та Андрій Сечін.
                p
                    | Наповнення – Ярослав Янченко та Кирил Поздняков.
                p
                    | Фотографи – Андрій Сечін, Максим Криштоп,
                    | Олексій Целік та Анатолій Красовський.
