.header
    .grid-container
        .grid-x
            .cell.small-6.medium-3.medium-offset-0.large-2.large-offset-2
                .season
                    | svg season
            .cell.small-6.medium-4.large-3
                .logo
                    +svg("logoMain").header__logo
            .cell.small-12.large-5
                .grid-container
                    .grid-x
                        .cell.small-12
                            .info
                                | phone kassa contacts?
                        .cell.small-12
                            .menu
                                | menu
