.header.bg-dark-green
    .grid-container
        .grid-x
            .cell.small-12.large-4.xlarge-6
                .header__name
                    | Театральний сезон №86
            .cell.small-12.large-7.xlarge-6
                .header__phone
                    a.header__phone-main
                        +svg("phone").header__ico
                        | +380 (0542) 22-52-53
                    a.header__phone-cashbox
                        +svg("phone-office").header__ico
                        | +380 (0542) 22-16-88

.nav.bg-white
    .grid-container
        .grid-x
            .cell.small-12.medium-6.large-5.xlarge-5.xxlarge-5
                .logoMain
                    +svg("logoMainTwo").header__logo
            .cell.small-12.medium-6.large-7.xlarge-7.xxlarge-7
                <!-- header menu -->
                include ../header_menu
                <!-- end header menu -->

//-div(style="clear: both")
