extends pug/base

append vars
    - html.classList.push('page-index')

block content

    <!-- header -->
    include pug/main/header
    <!-- end header -->

    <!-- afisha -->
    include pug/pages/afisha
    <!-- end afisha -->

    <!-- footer -->
    include pug/main/footer
    <!-- end footer -->
