extends pug/base

append vars
    - html.classList.push('page-index')

block content

    <!-- header -->
    include pug/main/header
    <!-- end header -->

    <!-- slider -->
    include pug/partials/slider
    <!-- end slider -->

    <!-- theatre -->
    include pug/partials/theatre
    <!-- end theatre -->

    <!-- news -->
    include pug/partials/news
    <!-- end news -->

    <!-- partners -->
    include pug/partials/partners
    <!-- end partners -->

    <!-- map -->
    include pug/partials/map
    <!-- end map -->

    <!-- header -->
    include pug/main/footer
    <!-- end header -->
