*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: $font-open-sans;
  font-weight: 400;
}

body {
  font-family: $font-open-sans;
  font-weight: 400;
}

// Heading
h1, h2, h3, h4, h5, h6 {
  font-family: $font-open-sans-condensed;
  text-transform: uppercase;
}

h1, h2 {
  font-size: 48px;
  font-weight: 400;
}

h3 {
  font-size: 32px;
  font-weight: 400;
}

h4 {
  font-size: 24px;
  font-weight: 400;
}

h5 {
  font-size: 22px;
  font-weight: 400;
}

h6 {
  font-size: 16px;
  font-weight: 400;
}

// Backgrounds
.bg-dark-green {
  background: $color-dark-green;
}

.bg-dark {
  background: $color-dark;
}

.bg-grey {
  background: $color-dlight-grey;
}

.bg-white {
  background: $color-white;
}


// flex
.flex {
  display: flex;
}
