// stylelint-disable scss/dollar-variable-empty-line-before

// Foundation
$global-width: 1440px;
$breakpoints: (small: 0, medium: 640px, large: 768px, xlarge: 990px, xxlarge: 1200px);
$breakpoint-classes: (small medium large xlarge xxlarge);

// COLORS
$color-black: #000;
$color-white: #fff;

$color-grey: #e3e3e3;
$color-light-grey: #c7c7c7;
$color-dlight-grey: #d0d9dd;
$color-dark-grey: #6b6b6b;
$color-ddark-grey: #808080;

$color-dark: #212121;
$color-dark-head-news: #373038;

$color-ddark-green: #212e35;
$color-dark-green: #263238;

$color-red: #c70300;
$color-light-red: #f93928;

// Transition
$trans-main: all 0.3s ease-out;

// FONTS
$font-open-sans: "OpenSans", sans-serif;
$font-open-sans-condensed: "OpenSansCondensed", sans-serif;
$font-monserat: "Monserat", sans-serif;
